body {
    background-color: #808080;
}

h1 {
    font-family: 'Uchen', serif;
    color: #ffffff;
}

h5 {
    font-family: 'Uchen', serif;
    font-size: 15px;
}

p {
    text-align: justify;
    font-family: cursive;
    font-size: 11px;
}

.card {
    padding-left: unset;
    padding-right: unset;
}